{% extends 'formbase.html' %}
{% load rest_framework %} {% load static %}

{% block head %}
  <link rel='stylesheet' href={% static 'forms.css'%}>
  <style>
    p {
        text-align: center;
    }

    .link-signup {
        color: black;
        text-underline-offset: 0.2rem;
    }
  </style>
{% endblock %}

{% block title %}Login{% endblock %}

{% block form_title %}login{% endblock %}

{% block form %}
    <form action="{% url 'login'%}" method="POST">
        {% csrf_token %} {% render_form serializer %}
        <div class="show-password-container">
            <input type="checkbox" name="show-password" id="showPassword" />
            <label for="show-password">show password</label>
        </div>
        <p><a href="/signup" class='link-signup'>don't have an account? sign up here</a></p>
        <input type="submit" value="Login" class='btn-primary'id='submitBtn'/>
  </form>
{% endblock %}