{% extends 'formbase.html' %}
{% load rest_framework %} {% load static %}

{% block title %}Signup{% endblock %}

{% block form_title %}sign up{% endblock %}

{% block form %}
    <form action="{% url 'signup'%}" method="POST">
        {% csrf_token %} {% render_form serializer %}
        <div class="show-password-container">
            <input type="checkbox" name="show-password" id="showPassword" />
            <label for="show-password">show password</label>
        </div>
        <input type="submit" value="Sign up" class="btn-primary" id='submitBtn'/>
    </form>
{% endblock %}

{% block deferred_scripts %}
<script defer>
    const labels = document.getElementsByTagName('label');
    const signupPassword = document.querySelector('input[type=password]');

    signupPassword.minLength = 8;
    signupPassword.maxLength = 16;

    // Add required symbol next to labels
    for (const label of labels) {
    if (label.htmlFor === 'show-password') continue;
        label.innerHTML += " <span class='required-span'>*</span>";
    }
</script>
{% endblock %}