{% load rest_framework %} {% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href={% static 'forms.css'%}>
    <script src="{% static 'forms.js' %}" defer></script>
  </head>
  <body>
    <div class="container-center">
      <div class="form-container">
        <h1 class="title">sign up</h1>
        <form action="{% url 'signup'%}" method="POST">
          {% csrf_token %} {% render_form serializer %}
          <div class="form-group">
            <label for="confirm-password">confirm password</label>
            <input type="password" name="confirm-password" />
          </div>
          <input type="submit" value="Sign up" class="btn-signup" />
        </form>
      </div>
    </div>
  </body>
</html>
