annotated-types==0.7.0
asgiref==3.8.1
black==24.10.0
Brotli==1.1.0
cachetools==5.5.1
certifi==2024.12.14
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
coverage==7.6.10
distlib==0.3.9
Django==5.1.4
django-cors-headers==4.6.0
django-filter==24.3
django-stubs-ext==5.1.2
djangorestframework==3.15.2
docopt==0.6.2
execnet==2.1.1
filelock==3.16.1
flake8==7.1.1
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.66.0
grpcio==1.70.0
grpcio-status==1.70.0
httplib2==0.22.0
identify==2.6.5
idna==3.10
iniconfig==2.0.0
isort==5.13.2
Markdown==3.7
mccabe==0.7.0
mutagen==1.47.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.2
pathspec==0.12.1
pipreqs==0.5.0
platformdirs==4.3.6
pluggy==1.5.0
proto-plus==1.26.0
protobuf==5.29.3
psycopg==3.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.12.1
pycryptodomex==3.21.0
pydantic==2.10.6
pydantic_core==2.27.2
pyflakes==3.2.0
pyparsing==3.2.1
pytest==8.3.4
pytest-cov==6.0.0
pytest-django==4.9.0
pytest-mock==3.14.0
pytest-xdist==3.6.1
python-decouple==3.8
pytubefix==8.12.2
PyYAML==6.0.2
requests==2.32.3
rsa==4.9
sqlparse==0.5.3
tqdm==4.67.1
types-PyYAML==6.0.12.20241230
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.3.0
virtualenv==20.28.1
websockets==14.2
yarg==0.1.9
yt-dlp==2025.1.26
