.quizzes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;

  & > div {
    padding-block: 0.5rem;
    font-size: 1.1rem;
  }
}

.noQuizzes {
  color: rgb(61, 61, 61);
  font-weight: 350;
}
