.container {
  padding: 0 !important;
  height: fit-content;
  transition: all var(--speed-medium) ease;
  /* number 16 from https://getcssscan.com/css-box-shadow-examples */
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(255, 255, 255);
  & img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.block {
  height: 100%;
  width: 100%;
}

.details {
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: bold;
  padding: 1.5rem 1rem;
  justify-content: center;
  align-items: center;
  /* margin-top: 50%; */
}

.btns {
  display: flex;
  gap: 1rem;
}

.editBtn {
  background-color: transparent;
}

.trash {
  color: rgb(209, 0, 0);
  background-color: transparent;
}
