.title {
  font-size: 2.7rem;
  font-weight: bold;
  margin-top: 3rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  /* height: 55rem; */
}

.statsTitle {
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 4rem;
}

.attemptsGraph > h2 {
  margin-block: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.attemptsContainer {
  width: 50%;
  margin: 0 auto; /* center */
}

.subtitle {
  font-size: 1.7rem;
  font-weight: bold;
}

.statsGrid {
  margin-top: 3rem;
  margin-inline: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;

  & > div {
    padding-block: 0.5rem;
    font-size: 1.1rem;
  }
  /* display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
  padding: 4rem; */
}

.noQuizzes {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
  font-size: 2rem;
  color: rgb(61, 61, 61);
}

.noAttempts {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  font-size: 1.5rem;
  color: rgb(61, 61, 61);
}

@media only screen and (max-width: 768px) {
  /* Improve visibility on smaller screens */
  .attemptsContainer {
    width: auto;
    height: 20rem;
  }
}
