.heading {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1.5rem;
}

.quizzes {
  width: 85%;
}

.btn {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.createLink {
  padding: 0.5rem 1.5rem;
}

.modalBtnContainers {
  gap: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
