.header {
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 10% 90%;
  & > h2 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.form {
  max-width: 30%;
  margin-inline: auto;
  gap: 0.8rem;
}

input[type="file"] {
  cursor: pointer;

  /* Get rid of default styling for 'choose file'/'browse' */
  &::file-selector-button {
    color: var(--colour-primary);
    background-color: inherit;
    border: none;
  }
}
