.header {
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 10% 90%;
  & > h2 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.form {
  max-width: 30%;
  margin-inline: auto;
  gap: 0.8rem;
}
