.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border: 1px solid black; /* Remove after */
  font-size: 1rem;
}

.name {
  font-size: 2rem;
  font-weight: 750;
}

.links {
  display: flex;
  align-items: center;
  gap: 3rem;

  & a {
    /* So border can be positioned underneath */
    position: relative;

    /* Border animation effect */
    &::before {
      content: "";
      border-bottom: 1px solid black;
      position: absolute;
      bottom: 0;
      width: 0%;
      transition: width 450ms ease;
    }

    &:hover::before {
      width: 100%;
    }
  }
}
