.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0%;
}

.closeBtn {
  background-color: transparent;
  position: absolute;
  top: 3%;
  left: 3%;
  font-size: 1.5rem;
}

.modal {
  background-color: var(--colour-card-background);
  border-radius: var(--border-radius-small);
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 1rem;
  padding-block: 4rem;
  width: 25rem;
  text-align: center;
  place-self: center;
  position: relative; /* Allows modal to be placed on top of fixed bg */
}

.header {
  font-size: 1.5rem;
}

.content {
  margin-inline: auto;
}

.mainBtn {
  width: 50%;
  margin-inline: auto;
}
