.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0%;
}

.closeBtn {
  background-color: transparent;
  position: absolute;
  top: 3%;
  left: 3%;
  font-size: 1.5rem;
}

/* 
Anything which has a modal as a direct child needs to have a width of 100%,
so that the bg can take up the whole width of the page

- Only takes effect when modal shows, so 100% width needs to be taken into account
for parent element when modal is not showing
*/

:has(> .modal) {
  width: 100%;
}

.modal {
  background-color: var(--colour-card-background);
  border-radius: var(--border-radius-small);
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 1rem;
  padding-block: 4rem;
  width: 25rem;
  text-align: center;
  place-self: center;
  max-width: 80%;
  /* Allows modal to be placed on top of fixed bg and in middle of screen 
  https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form_modal {
  grid-template-rows: 1fr 4fr;
}

.header {
  font-size: 1.5rem;
}

.content {
  margin-inline: auto;
}

.form {
  display: grid;
  gap: 2rem;

  & .mainBtn {
    width: 75%;
  }
}

.mainBtn {
  width: 50%;
  margin-inline: auto;
}
