.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-block: 1rem;
}

.numCorrect {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.questions {
  gap: 1rem;
  text-align: center;
}

.questions > div {
  margin-bottom: 50vh;
}
