.embedContainer {
  width: 75%;
  aspect-ratio: 16/9;
}

.title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  margin-block: 1rem;
}

.scoreBanner {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.scoreFail {
  background-color: rgb(249, 214, 214);
}

.scorePass {
  background-color: rgb(214, 249, 225);
}

.scoreText {
  font-size: 1.7rem;
  font-weight: bold;
}

.score {
  font-size: 1.5rem;
}

.numCorrect {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  text-align: center;
}

.pass {
  color: var(--color-correct);
}

.fail {
  color: var(--color-error);
}

.questions {
  max-width: 100%;
  gap: 1rem;
  text-align: center;

  & > div {
    margin-bottom: 10%;

    &:first-child {
      margin-top: 10%;
    }

    &:last-child {
      margin-bottom: 7%;
    }
  }
}

.checkBtn {
  margin-bottom: 3rem;
  font-size: 1.3rem;

  &:enabled:hover {
    scale: 1.1;
  }
}

/* Don't want button to seem clickable if they shouldn't be allowed to click it */
.checkBtn:disabled a {
  cursor: default;
}
