.embedContainer {
  width: 75%;
  aspect-ratio: 16/9;
}

.title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  margin-block: 1rem;
}

.numCorrect {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.questions {
  max-width: 100%;
  gap: 1rem;
  text-align: center;

  & > div {
    margin-bottom: 10%; /* TODO use different units - see mobile */

    &:first-child {
      margin-top: 10%;
    }
  }
}
