.question {
  font-size: 1.8rem;
  font-weight: bold;
}

/* Could create pointer utility class */
.answer {
  color: #4d4d4d;
  transition: all var(--speed-medium) cubic-bezier(0.075, 0.82, 0.165, 1);
  color: black;
  font-size: 1rem;

  /* if they haven't checked answers - i.e. has (in)correct class */
  &:not(:is(.correct, .incorrect)):hover {
    font-size: 1.4rem;
    cursor: pointer;
  }
}

.selected {
  font-weight: bold;
  font-size: 1.4rem;
}

.correct {
  color: var(--color-correct);
  font-size: 1.5rem;
  text-decoration: underline;
}

.incorrect {
  color: var(--color-incorrect);
  font-size: 1rem;
}
