.container {
  /* opacity: 0; */
  /* filter: blur(3px); */
  transition: all var(--speed-medium) ease-in-out;
}

.visible {
  opacity: 1;
  filter: blur(0);
  scale: 1.1;
  transform: translateY(-10%);
}

.question {
  font-size: 1.7rem;
  font-weight: bold;
  padding-inline: 1rem;
}

.answers {
  gap: 0.5rem;
  align-items: center;
}

.timestamp {
  /* text-decoration: underline; */
  /* text-underline-offset: 0.2rem; */
  font-size: 1.2rem;
}
