.spinner {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 10px solid;
  border-color: black black black white;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
