:root {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  --colour-primary: #f86464;
  --colour-background: #ffffff;
  --colour-card-background: #fbfbfb;
  --colour-btn-submit: #2595e5;
  --color-btn-secondary: #2c2c2c;
  --color-btn-text: #f5f5f5;
  --color-correct: #23ae27;
  --color-incorrect: #ae2323;
  --border-radius-rounded: 99px;
}

body {
  background-color: var(--colour-background);
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius-rounded);
}

.btn-primary {
  background-color: var(--colour-primary);
  color: var(--color-btn-text);
}
