:root {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  --colour-primary: #f86464;
  --colour-primary-dark: #de5151;
  --colour-background: #ffffff;
  --colour-card-background: #fbfbfb;
  --colour-btn-submit: #2595e5;
  --color-btn-secondary: #2c2c2c;
  --color-btn-text: #f5f5f5;
  --color-correct: #23ae27;
  --color-incorrect: #ae2323;
  --color-error: #d40000;
  --color-input-border: #959595;
  --color-label-background: #d9d9d9;
  --border-radius-rounded: 99px;
  --border-radius-medium: 15px;
  --border-radius-small: 10px;
  --speed-medium: 450ms;
  --speed-quick: 250ms;
}

body {
  background-color: var(--colour-background);
}

.btn {
  padding: 0.4rem 1.5rem;
  border-radius: var(--border-radius-rounded);
  transition: all var(--speed-medium) ease;
  cursor: pointer;

  &:disabled {
    cursor: auto;
  }
}

.btn-primary {
  background-color: var(--colour-primary);
  color: var(--color-btn-text);

  /* Only show hover effects if button not disabled */
  &:not(:disabled):hover {
    background-color: var(--colour-primary-dark);
    color: white;
  }

  &:disabled {
    color: black;
    background-color: darkgray;
  }
}

.btn-secondary {
  background-color: var(--color-btn-secondary);
  color: var(--color-btn-text);

  &:not(:disabled):hover {
    background-color: black;
    color: white;
  }
}

input,
.input {
  border: 1px solid var(--color-input-border);
  border-radius: var(--border-radius-medium);
  padding: 0.3rem 1rem;
}

input.btn {
  border-color: transparent;
}

select.input {
  padding: 0.3rem 0.5rem;
}

/* Wrapper around input and label */
.form-item {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-error {
  font-size: 0.9rem;
  color: var(--color-error);
}

/* utility classes */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

/* Center main content horizontally*/
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Animate underline horizontally on hover */
.hover-underline {
  /* So border can be positioned underneath */
  position: relative;

  /* Border animation effect */
  &::before {
    content: "";
    border-bottom: 1px solid black;
    position: absolute;
    bottom: 0;
    width: 0%;
    transition: width var(--speed-medium) ease;
  }

  &:hover::before {
    width: 100%;
  }
}
